#*
*.a
*.aux
*.bak
*.cp
*.cps
*.doc
*.dvi
*.fn
*.fns
*.go
*.info
*.info-[0-9]*
*.ky
*.la
*.lo
*.log
*.o
*.pg
*.pgs
*.rn
*.rns
*.tar.gz
*.toc
*.tp
*.tps
*.vr
*.vrs
*.x
*~
,*
.deps
.libs
BUGS
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
benchmark-guile
build-aux/compile
check-guile
check-guile.log
confdefs.h
config.build-subdirs
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
conftest
conftest.c
core
core.*
depcomp
elisp-comp
install-sh
libtool
ltconfig
ltmain.sh
mdate-sh
missing
mkinstalldirs
stamp-h?
texinfo.tex
valgrind.out
version.texi
